# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore Maven target directory
target/

# Eclipse files
.classpath
.project
.settings/

# IDEA files
*.iml
.idea/
.idea_modules/

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code files
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Linux
*~

# Other backups
*.bak
*.swp
